notebooks/.ipynb_checkpoints/
*.egg-info/
*.pyc
output.tsv
.DS_Store
*.tfcache*
.RData
.Rhistory
deploy.sh

examples/pbmc3k/
examples/data/
examples/modules/
conda_builds/
dinglab-pollock/
build/
dist/
data/
tests/data/
tests/outputs/
results/
scratch/
models/
figures/
modules/
