notebooks/.ipynb_checkpoints/
benchmarking/.ipynb_checkpoints/
.ipynb_checkpoints/

*.egg-info/
*.pyc
.DS_Store
*.tfcache*
.RData
.Rhistory

benchmarking/results/
benchmarking/data/
benchmarking/sandbox/
benchmarking/*.txt
examples/pbmc3k/
examples/data/
examples/modules/
conda_builds/
build/
conda_build/
dist/
results/
models/
figures/
